*{
    margin:0;
    padding:0;
    border:none;
}

body{
    font-family: 'Alegreya Sans';
    background-color: #186898;
    
}



.container{  
    background-color: #fff;
    border-radius: 10px;
    margin:10px;
    margin-top: 1e;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    padding:16px;
    padding-top:16px;
    position:relative; /* acts as a ref point to posotioned elements inside it*/

}

/* Header and Nav Styles */

header{
    
    text-align: center;
    
}

header img{
    max-width:100%;
}

h2{
    font-size:1.2em;
}

nav{
    text-align: center;
}

.menu-button{
    text-align: right;
    
}
    
.main-menu ul{
    
    list-style-type: none;
   

    
}
.menubar{
    width:150px;
    background-color: #fff;
    border: solid 1px #333;
    position:absolute;
    right:16px;
}

.main-menu li{
    padding-top:6px;
    margin-bottom: 6px;
    border-bottom: solid 1px #333;
    
}

.main-menu li:last-child{
   border-bottom: none;
    margin-bottom:0;
}

.search-input{
    width:55%;
    padding:3px;
    border: solid 1px #ccc;
}

.search-submit{
    width:35%;
    padding:3px;
    border: solid 1px #ccc;
    
}

.dropdown li{
    border:none;
    
}
.search{
    padding:6px;
}

/* ******* */


a{
    color:#186898;
}



a:hover{
    color:#bc477b;
}

a:active{
    color:orange;
}

.fluid-image{
    width:100%;
    margin-bottom: 1em;
   
}
.right-image{
    float: right;
    margin-left: 1em;
}

p{
    margin-bottom:1em;
    margin-top:1em;
}

h3{
    margin-top:1em;
    
}
main{
    clear:both; 
}
.page-footer{
    margin-top:3em;
}
.btn{
    background-color: darkturquoise;
    padding: 8px;
    color:white;
    text-decoration:none;
    text-align:center;
    display:inline-block;
    border-radius: 8px;
}

.btn:hover{
    background-color:darkcyan;
    color:white;
}

/* Program Pages */

.programs{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}


/* card */

.card{
    flex:1 0 auto;
/*    
    flex-grow:1;
    flex-shrink:0;
    flex-basis:auto;
*/  
    width:250px;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin:1%;
    margin-left:0;
}
.empty{
    visibility: hidden;
}

.card img{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body{
    padding:16px;
}

.learn{
    margin-top:1em;
}


/* **** Desktop style **** */

@media(min-width: 768px){
    header{
        width:30%;
        float: left;
        margin-bottom: 1em;
    }
    nav{
        width:60%;
        float:right;
    }   
.menu-button{
        display:none;
    }    
.menubar{
    position:static;
    border:none;
    width:auto;
    display:flex;
    flex-direction: row;
    
    }
    .menubar li{
        display: inline-block;
        margin-left: 2em;
    }
    
    .dropdown li{
        display: block;
        margin: 0;
    }
    .dropdown ul{
        position:absolute;
        width:150px;
        background-color: white;
        border: solid 1px #ccc;
        display:none;
        
    }
    
    .dropdown:hover ul{
        display: block;
    }
    
    
}/*closing media query*/